{% extends "layout.html" %}
{% block content %}
<style>
    #content {
        text-align: center;
    }

    h2 {
        margin-bottom: 5vh;
    }

    form {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }

    input {
        width: 100%;
        height: 4vh;
        margin-bottom: 5vh;
    }

    textarea {
        width: 100%;
        height: 30vh;
        resize: none;
        white-space: pre-line;
        margin-bottom: 5vh;
    }

    .create_submit {
        width: 20%;
        height: 50px;
        color: white;
        background-color: pink;
        border: 1px solid white;
        border-radius: 15px;
    }
</style>
<div id="content">
    <h2> 글 쓰기 </h2>
    <form action="http://localhost:8090/board/{{type}}/create" method="post">
        <input type="text" name="title" placeholder="제목">
        <textarea name="content" placeholder="내용"></textarea>
        <a href="http://localhost:8090/board/{{type}}"><button class="create_submit">취소</button></a>
        <input class="create_submit" type="submit" value="완료">
    </form>
</div>
{% endblock %}